<main class="main2">

    <section class="container-info">
        <h1>¿Dónde?</h1>
        <h2 class="info-h2">Calle de Dracula con Calle Embrujada, Numero 666</h2>
       

        <h1>¿Cuándo?</h1>
        <h2 class="info-h2">3 de Noviembre <br> A partir de las 3:00am - hasta que estés muerto</h2>
        <div class="gif">

            <img class="ghost" src="/images/tumblr_mude7hB89u1rgpyeqo1_500.gif">
            <img class="ghost" src="/images/tumblr_mude7hB89u1rgpyeqo1_500.gif">
            <img class="ghost" src="/images/tumblr_mude7hB89u1rgpyeqo1_500.gif">
        </div>
    </section>
</main>