*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 10px;

}

.main1 {
  background-image: url("/images/hallowen-backgroun1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.main2 {
  background-image: url("/images/hallowen-backgroun2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

 h1 {
  color: rgb(249, 43, 16);
  font-family: 'Lakki Reddy', cursive;
  font-size: 3rem;
  margin-bottom: 10px;
} 

h2 {
  color: lightgray;
  font-size: 1.8rem;
  margin-top: 50px;
}

p {
  color: white;
  font-size: 1.05rem;
}

.btn {
  border: none;
  margin-top: 15px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgb(249, 43, 16);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-left: 48%;
  margin-top: -175px;
}

.content {
  text-align: center;
}

.title{
  margin-top: 120px;
}

.title img{
  height: 180px;
}

.inp-lab{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inp-lab>label{
  margin-top: 30px;
  margin-bottom: 10px;
}
.inp-lab>input{
  border: none;
  padding: 5px 25px;
}

.container-logo{
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.container-logo img {
  width: 120px;
  /* transform: rotate(30deg); */
}

/* @keyframes wiggling {
  0%   {transform: rotate(0deg);}
  
  50%  {transform: rotate(-20deg)}
  
  100% {transform: rotate(0deg);}
}

.wigle {
  animation-name: wiggling;
  animation-duration: 4s;
  animation-delay: -4s;
  animation-iteration-count: infinite;
} */

/*INFO PAGE*/
.container-info {
  margin-left: 42%;
  max-width: 400px;
  padding-top: 120px;
}

.container-info div h2{
  font-size: 20px;
  color: #FBB03B;
 
}


.ghost {
  width: 45%;
}
.info-h2{
  color: #fff;
  margin-top: -25px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.gif{
  display: flex;
}

.gif img {
  margin-left: -35px;
}